/* _content/RestaurantBooking/Pages/OrderMeal/Details.cshtml.rz.scp.css */
body[b-42vgywanrl] {
}
#about[b-42vgywanrl] {
    padding: 2em 0 0 0;
}

.quantity-control[b-42vgywanrl] {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.quantity-control .btn[b-42vgywanrl] {
    border: none;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    padding: 0 10px;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease;
}

.quantity-control .btn:hover[b-42vgywanrl] {
    background-color: #6462624d;
}

.quantity-control .quantity[b-42vgywanrl] {
    font-size: 16px;
    padding: 0 10px;
}

.btns[b-42vgywanrl] {
    margin-top: 2em;
}

.btns .add-order[b-42vgywanrl] {
    background-color: #ffffff00;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 50px;
    transition: 0.3s;
    line-height: 1;
    color: white;
    border: 2px solid #cda45e;
}

.btns .add-order:hover[b-42vgywanrl] {
    background-color: #cda45e;
}
/* _content/RestaurantBooking/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-9zfbfh3jiv] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-9zfbfh3jiv] {
  color: #0077cc;
}

.btn-primary[b-9zfbfh3jiv] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-9zfbfh3jiv], .nav-pills .show > .nav-link[b-9zfbfh3jiv] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-9zfbfh3jiv] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-9zfbfh3jiv] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-9zfbfh3jiv] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-9zfbfh3jiv] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-9zfbfh3jiv] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
