body[b-fq319y0qod] {
}

.close-btn[b-fq319y0qod] {
    background-color: #ffffff00;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 50px;
    transition: 0.3s;
    line-height: 1;
    color: white;
    border: 2px solid #cda45e !important;
    transition: 0.3s;
    font-style: normal !important;
}

.close-btn:hover[b-fq319y0qod] {
    color: white !important;
    background-color: #cda45e !important;
}