body {
}
#about {
    padding: 2em 0 0 0;
}

.quantity-control {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

    .quantity-control .btn {
        border: none;
        color: #ffffff;
        font-size: 18px;
        cursor: pointer;
        padding: 0 10px;
        border-radius: 3px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        transition: background-color 0.3s ease;
    }

        .quantity-control .btn:hover {
            background-color: #6462624d;
        }

    .quantity-control .quantity {
        font-size: 16px;
        padding: 0 10px;
    }

.btns {
    margin-top: 2em;
}

.add-order, .btn-submit, .edit-items, .go-back, .close {
    background-color: #ffffff00;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 50px;
    transition: 0.3s;
    line-height: 1;
    color: white;
    border: 2px solid #cda45e;
}

.btns .add-order:hover {
    background-color: #cda45e;
}

.btn-delete, .edit-items, .go-back, .close {
    border: 2px solid #cda45e !important;
    transition: 0.3s;
    font-style: normal !important;
}

    .btn-delete:hover, .edit-items:hover, .go-back :hover, .close:hover {
        color: white !important;
        background-color: #cda45e !important;
    }